<nav class="sticky">
  <div class="row">
    <img src="/assets/logo-64a979fed53b363e7589de6c71c874e17a0884f09610d5d05e637256b073f8d9.png" alt="CDMI logo" class="logo">
    <img src="/assets/logo-64a979fed53b363e7589de6c71c874e17a0884f09610d5d05e637256b073f8d9.png" alt="CDMI logo" class="logo-black">

    <ul class="main-nav js--main-nav">
      <li><a href="/#about">ABOUT US</a></li>
      <li><a href="/#works">HOW IT WORKS</a></li>
      <li><a href="/#service">OUR SERVICES </a></li>
      <!--<li><a id="login-btn" href="#">Client LogIn</a></li>-->
      <li><a href="/#contact">CONTACT</a></li>
    </ul>
    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
  </div>
</nav>

<div id="site-content">
  <main class="main-content">

    <div class="page" id="privacy">
      <div class="container">
        <h3 class="entry-title text-center"><strong class=""> Terms and Conditions</strong></h3>
        


        <div class="block">
          <h3 class="block-title">Laws and Regulations</h3>
          <p class="para">
            Access to and use of this Site are subject to all applicable federal, state and local
            laws and regulations.
          </p>
        </div>

        <div class="block">
          <h3 class="block-title">Access to Password Protected or Secure Areas</h3>
          <p class="para">
            Access to and use of password protected or secure areas of this Site are restricted
            to authorized persons only. Any User who accesses or attempts to access such
            areas without authorization may be subject to prosecution.
          </p>

          
        </div>
        <div class="block">
          <h3 class="block-title">Informational Purposes Only</h3>
          <p class="para">
            The product material described on this Site is provided for informational purposes
            only. This material is intended solely to provide a general overview of the types of
            products and range of services available from CREDIT AND DEBIT MANAGEMENT INSTITUTE, INC.
                        
          </p>
        </div>

        <div class="block">
          <h3 class="block-title">Products Not Available in All States</h3>
          <p class="para">
            The products described on this Site may not be available in all states or other
            jurisdictions.
          </p>
        </div>

        <div class="block">
          <h3 class="block-title">Policy Restrictions, Limitations and Terms</h3>
          <p class="para">
            The products referenced on this Site have restrictions, limitations, and terms
            regarding coverage. For complete details concerning coverage and product
            availability in your state, call
          </p>
        </div>

        <div class="block">
          <h3 class="block-title">Linked Internet Sites</h3>
          <p class="para">
            CREDIT AND DEBIT MANAGEMENT INSTITUTE, INC. only partners with carriers who guarantee the privacy of site visitors using
            their (the carriers) quote generating engines.
          </p>
        </div>

        <div class="block">
          <h3 class="block-title">Use of Cookie Files</h3>
          <p class="para">
            Some sites and pages within our Sites use &quot;cookies.&quot; A cookie is a small file that is
            stored on your hard drive and contains no personally identifiable information about
            you and your usage of our sites. A cookie cannot read data off your hard drive or
            read cookie files created from other sites. You are free to decline our cookie if your
            browser has been set to prompt or decline cookies.
          </p>
        </div>

        <div class="block">
          <h3 class="block-title">Limitation of Liability</h3>
          <p class="para">
            CREDIT AND DEBIT MANAGEMENT INSTITUTE, INC. specifically disclaims any liability (whether based in contract, tort, strict
            liability or otherwise) for any direct, indirect, incidental, consequential, or special
            damage arising out of or in any way connected with access to or use of this Site
            (even if CREDIT AND DEBIT MANAGEMENT INSTITUTE, INC has been advised of the possibility of any such damage), including
            any liability associated with any virus that may infect a User&#39;s computer equipment.
            Under no circumstance will CREDIT AND DEBIT MANAGEMENT INSTITUTE, INC be liable for any loss or damage caused by a
            User&#39;s reliance on information obtained through this Site. It is the responsibility of
            each User to evaluate the accuracy, completeness or usefulness of any information,
            opinion, advice or other content available through this Site.
          </p>
        </div>

        <div class="block">
          <h3 class="block-title">Changes to Rules and Regulations </h3>
          <p class="para">
            CREDIT AND DEBIT MANAGEMENT INSTITUTE, INC reserves the right to revise these Terms and Conditions at any time and
            Users are deemed to be apprised of and bound by any changes to these Terms and
            Conditions.
          </p>
        </div>

        <div class="block">
          <h3 class="block-title">Mandatory, Binding Arbitration</h3>
          <p class="para">
            You agree that any claim or dispute between you and CREDIT AND DEBIT MANAGEMENT INSTITUTE, INC or any officer, director
            or employee of CREDIT AND DEBIT MANAGEMENT INSTITUTE, INC, Inc. related to your use of this Site or any information herein,
            including the validity of this provision regarding Mandatory, Binding Arbitration,
            regardless of the amount or value of such claim or dispute, will be resolved by
            mandatory, binding arbitration administered by the National Arbitration Forum in
            accordance with its Code of Procedure then in effect, except that any arbitration will
            be conducted in, and any hearing will be held in, San Diego, California. Information
            may be obtained and claims may be filed at any office of the National Arbitration
            Forum (www.arb-forum.com) or at P.O. Box 50191, Minneapolis, MN 55405. This
            provision regarding Mandatory, Binding Arbitration will be governed by the Federal
            Arbitration Act.
          </p>
        </div>

        <div class="block">
          <h3 class="block-title">Refund Policy</h3>
          <p class="para">
            We offer full refund. The client has 90 days to claim a refund. Once they do, we will give them their full money back. That we have already collected, and we will close their file.
          </p>
        </div>

        <div class="block">
          <h3 class="block-title">Contact Information</h3>
          <p class="para">
            If users have any questions or suggestions regarding our terms and conditions,
            please contact CREDIT AND DEBIT MANAGEMENT INSTITUTE, INC. at: info@cdmionline.com
          </p>
        </div>



      </div>
    </div>
  </main>


  <footer>
    <div class="row">
      <div class="col span-2-of-3">
        <ul class="footer-nav">
          <li><a href="#about">ABOUT US</a></li>
          <li><a href="#works">HOW IT WORKS</a></li>
          <li><a href="#service">OUR SERVICE </a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li><a href="/privacy">PRIVACY POLICY</a></li>
          <li><a href="/terms">TERMS AND CONDITIONS</a></li>
        </ul>
      </div>
      <div class="col span-1-of-3">
        <ul class="social-links">
          <li><a target="_blank" href="https://www.facebook.com/CDMI-Online-2022779814605051/"><i class="ion-social-facebook"></i></a></li>
          <li><a target="_blank" href="https://plus.google.com/u/0/101839490910334053100"><i class="ion-social-googleplus"></i></a></li>
          <li><a target="_blank" href="https://www.instagram.com/cdmionline/?hl=en"><i class="ion-social-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <p>
        Copyright &copy; 2018 by CREDIT AND DEBIT MANAGEMENT INSTITUTE, INC. All rights reserved.
      </p>
    </div>
  </footer>
</div>